<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/img_threepoint512"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.AnimationActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TabActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.TodayActivity" />
        <activity android:name=".activity.StarActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.TalkActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.FavoriteActivity" />
        <activity android:name=".activity.WebFavoriteActivity" />
        <activity android:name=".activity.FavoriteDetailActivity" />
        <activity android:name=".activity.WebFavoriteDetailActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="579eadc267e58ed31f0009b8" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="ALL" />
    </application>

</manifest>